/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --var-text-color: #353430;
  --var-title-h1-color: #ffc2e6;
  --var-rectangle-color: #ff8dcb;
  --var-color-h2-and-button: #353430;
  --var-color-shadow: #ff0070;
  --var-color-link-shadow: #ff8dcb;
  --var-color-border-hover: rgba(50, 49, 45, 0.4);
  --var-background-color: #FFF1F7;
  --back-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --var-text-color: #353430;
    --var-title-h1-color: #ffc2e6;
    --var-rectangle-color: #ff8dcb;
    --var-color-h2-and-button: #353430;
    --var-color-shadow: #ff0070;
    --var-color-link-shadow: #ff8dcb;
    --var-color-border-hover: rgba(50, 49, 45, 0.4);
    --var-background-color: #FFF1F7;
    --back-image: url("../images/cover-image-light.png");
  }
}
.page.theme_light .decorative-rec {
  display: none;
}
