/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--back-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--var-background-color);
}

/* Стили для области заголовка страницы */
.header {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(min-content, 1fr); /* Гибкая сетка с тремя рядами */
  min-height: 100vh;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    min-block-size: 1024px;
    min-height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  .header {
    min-block-size: 668px;
    min-height: 100vh;
  }
}

/* Стили для текста "REC" */
.decorative-rec {
  display: none;
  position: absolute;
  top: 20px; /* Расположение от верхнего края */
  right: 50px; /* Расположение от правого края */
  text-align: center;
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  color: var(--var-color-h2-and-button);
}

/* Стили для декоративных уголков */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px; /* Ширина декоративного уголка */
  height: 25px; /* Высота декоративного уголка */
  background-color: transparent; /* Цвет фона уголка (тот же, что и у заголовка) */
}

/* Стили для правого декоративного уголка */
.decorated-zone::before {
  /*  правый */
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--var-color-h2-and-button); /* Граница сверху (белого цвета) */
  border-right: 1px solid var(--var-color-h2-and-button); /* Граница справа (белого цвета) */
}

/* Стили для левого декоративного уголка */
.decorated-zone::after {
  /* левый */
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--var-color-h2-and-button); /* Граница снизу (белого цвета) */
  border-left: 1px solid var(--var-color-h2-and-button); /* Граница слева (белого цвета) */
}

/* Медиа-запрос для экранов с максимальной шириной 768px */
@media screen and (max-width: 768px) {
  .decorated-zone::after {
    bottom: 20px;
  }
}

/* Медиа-запрос для экранов с максимальной шириной 375px */
@media screen and (max-width: 375px) {
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
}

/* Стили для точки справа от "REC" */
.decorative-rec::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 10px;
  height: 10px;
  background-color: var(--var-color-h2-and-button);
  filter: drop-shadow(0px 0px 4px var(--var-color-h2-and-button));
  border-radius: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 375px) {
  .decorative-rec {
    display: block;
    top: 10px; /* Расположение от верхнего края */
    right: 38px; /* Расположение от правого края */
  }
}

.header__theme-menu {
  height: 50%;
}

/* Стили для списка элементов list */
.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-top: 11px;
}

/* Медиа-запрос для экранов с максимальной шириной 768px */
@media screen and (max-width: 768px) {
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: auto;
    float: right;
    margin: 135px 19px 0 0;
    gap: 15px;
  }
}

/* Медиа-запрос для экранов с максимальной шириной 375px */
@media screen and (max-width: 375px) {
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: auto;
    float: right;
    margin-top: 43px;
    margin-right: 19px;
    gap: 15px;
  }
}

/* Стили для кнопок list*/
.header__theme-menu-button {
  width: 70px;
  background-color: transparent;
  border: none;
  color: var(--var-color-h2-and-button);
  text-align: center;
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  letter-spacing: 1px;
  cursor: pointer;
}

/* Стили для кнопок  при наведении на них */
.header__theme-menu-button:hover {
  border: 1px solid var(--var-color-border-hover);
}

/* Стили для фокуса кнопки */
.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--var-color-h2-and-button);
}

/* Стили для активной кнопки  */
.header__theme-menu-button_active {
  border: 1px solid var(--var-color-h2-and-button);
}

/* Стили для заголовка */
.header__container {
  display: grid;
  grid-template-rows: repeat(1, auto auto);
  gap: 114px;
  align-items: center;
  margin-top: 150px;
}

/* Стили для текста в заголовке */
.title {
  color: var(--var-title-h1-color);
  text-shadow: 4px 4px 0px var(--var-color-shadow);
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

/* Медиа-запрос для экранов с максимальной шириной 768px */
@media screen and (max-width: 768px) {
  .header__container {
    margin-top: 50px;
    gap: 162px;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0px var(--var-color-shadow-width768and375);
  }
}

@media screen and (prefers-color-scheme: light) {
  .title {
    text-shadow: 4px 4px 0px var(--var-color-shadow-width768and375);
  }
}

/* Медиа-запрос для экранов с максимальной шириной 375px */
@media screen and (max-width: 375px) {
  .header__container {
    margin-left: 10px;
    margin-top: 40px;
    gap: 55px;
  }
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0px var(--var-color-shadow-width768and375);
  }
}

/* Стили для прямоугольника */
.rectangle {
  background-color: var(--var-rectangle-color);
}

.header__rectangle {
  width: 491px;
  margin: 0 20px 0 auto;
}

/* Медиа-запрос для экранов с максимальной шириной 768px */
@media screen and (max-width: 768px) {
  .header__rectangle {
    width: 364px;
  }
}

/* Медиа-запрос для экранов с максимальной шириной 375px */
@media screen and (max-width: 375px) {
  .header__rectangle {
    width: 355px;
    margin: 0 20px 0 0;
  }
}

/* Стили для текста в прямоугольнике */
.rectangle-text {
  color: var(--var-rectangle-text-color);
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main-content {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Стили для раздела "Почему сосредоточиться так сложно" */
.main-content__section-why {
  display: grid;
  grid-template-columns: repeat(1, auto auto);
  margin: 0 20px 0 20px;
  gap: 20px;
}

/* Стили для заголовков раздела */
.main-content__titles {
  color: var(--var-color-h2-and-button);
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  max-width: 315px;
}

/* Медиа-запрос для экранов с максимальной шириной 768px */
@media screen and (max-width: 768px) {
  .main-content__section-why {
    margin: 0 20px 0 0;
  }
  .main-content__titles {
    max-width: 236px;
  }
  .main-content__title-why {
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

.main-content__section-why-text-container {
  display: grid;
  gap: 20px;
}

.main-content {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .main-content {
    min-width: 355px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .main-content__section-why {
    display: grid;
    max-width: 355px;
    grid-template-columns: none;
  }
  .main-content__title-why {
    margin-left: 10px;
  }

  .main-content__section-why-text-container {
    margin-left: 10px;
  }
}

.main-content__section-text {
  color: var(--var-text-color);
  font-family: var(--var-main-font), var(--var-spare-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  padding-top: 10px;
}

.main-content__section-what {
  display: grid;
  margin: 80px 20px 0 20px;
  gap: 20px;
}

.main-content__section-what-text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .main-content__section-what-text-container {
    grid-template-columns: none;
  }
  .main-content__title-what {
    max-width: 236px;
  }
}

@media screen and (max-width: 375px) {
  .main-content__section-what {
    margin: 50px 0 0 10px;
    max-width: 355px;
  }

  .main-content__titles {
    min-width: 355px;
  }
}

.main-content__section-how {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin: 80px 20px 0 20px;
}
.main-content__section-how-text-container {
  display: grid;
  gap: 20px;
}
.main-content__section-how-rectangle-titles {
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .main-content__section-how {
    grid-template-columns: none;
    margin: 50px 0 0 10px;
    max-width: 355px;
  }
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--var-color-link-shadow);
}
.link:hover {
  border-bottom: 1px solid var(--var-text-color);
}

.link:focus {
  outline: 1px solid var(--var-text-color);
}

.main-content__section-picture {
  display: grid;
  gap: 20px;
  margin: 80px 20px 0 20px;
}

@media screen and (max-width: 375px) {
  .main-content__section-picture {
    max-width: 355px;
  }
}

.main-content__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main-content__gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image-sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.gallery-image-ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery-image-tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery-image-books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.gallery-image-street {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

@media screen and (max-width: 375px) {
  .main-content__section-picture {
    min-width: 355px;
    margin: 50px 0 0 10px;
    gap: 10px;
  }

  .main-content__gallery {
    gap: 10px;
  }

  .gallery-image-sunset {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .gallery-image-ice-cream {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .gallery-image-tape {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .gallery-image-books {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  .gallery-image-street {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  margin-bottom: -60px; /*чтобы gap у body не добавлял внизу страницы 60px*/
}

.footer-text {
  text-shadow: 2px 2px 0px var(--var-color-shadow);
}

@media screen and (max-width: 768px) {
  .footer {
    min-block-size: 1024px;
    min-height: 100vh;
    margin-bottom: -60px;
  }
  .footer-text {
    text-shadow: 2px 2px 0px var(--var-color-shadow-width768and375);
  }
}

@media (prefers-color-scheme: light) {
  .footer-text {
    text-shadow: 2px 2px 0px var(--var-color-shadow-width768and375);
  }
}

@media screen and (max-width: 375px) {
  .footer {
    min-block-size: 668px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }

  .footer-text {
    text-shadow: 2px 2px 0px var(--var-color-shadow);
  }
}

.decorative-footer::before,
.decorative-footer::after {
  content: "";
  position: absolute;
  width: 25px; /* Ширина декоративного уголка */
  height: 25px; /* Высота декоративного уголка */
  background-color: transparent; /* Цвет фона уголка (тот же, что и у заголовка) */
}

.decorative-footer::before {
  top: 20px;
  right: 20px; /*  правый */
  border-top: 1px solid var(--var-color-h2-and-button); /* Граница сверху (белого цвета) */
  border-right: 1px solid var(--var-color-h2-and-button); /* Граница справа (белого цвета) */
}

.decorative-footer::after {
  bottom: 20px;
  left: 20px; /*  левый */
  border-bottom: 1px solid var(--var-color-h2-and-button); /* Граница снизу (белого цвета) */
  border-left: 1px solid var(--var-color-h2-and-button); /* Граница слева (белого цвета) */
}

@media screen and (max-width: 768px) {
  .decorative-footer::after {
    bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .decorative-footer::after {
    /*леаый*/
    bottom: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .decorative-footer::before {
    top: 10px;
    right: 10px; /*  правый */
  }
}
