/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/*переменные для светлой темы*/
:root {
  --var-text-color: #353430;
  --var-title-h1-color: #ffc2e6;
  --var-rectangle-color: #ff8dcb;
  --var-color-h2-and-button: #353430;
  --var-color-shadow: #ff0070;
  --var-color-link-shadow: #ff8dcb;
  --var-color-border-hover: rgba(50, 49, 45, 0.4);
  --back-image: url("../images/cover-image-light.png");
}

/*переменные для темной темы*/
:root {
  --var-text-color: #f1b2ce;
  --var-rectangle-text-color: #000028;
  --var-title-h1-color: #db00ff;
  --var-color-h2-and-button: #ff0070;
  --var-rectangle-color: #ff0070;
  --var-color-shadow: #ff0070;
  --var-color-link-shadow: #ff0070;
  --var-color-border-hover: rgba(255, 0, 112, 0.4);
  --back-image: url("../images/cover-image-dark.png");
  color-scheme: dark;
}
